.spotReviewsContainer {
    /* border: 1px solid red; */
    /* width: 95%; */
    position: relative;
    margin: 0px 80px 20px;
    display: flex;
    justify-content: space-between;
}

.review {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 50%;
    /* margin: 0px 87px 20px 0px; */
}

.nameDateContainer {
    /* border-bottom: 1px solid #FF5A60; */
    width: fit-content;
}

.name {
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}

.date {
    font-size: 12px;
    color: gray;
    margin: 5px 0px;
}

.reviewBody {
    font-size: 14px;
    margin: 10px 0px;
}

.deleteReviewButton {
    border: 2px solid black;
    border-radius: 0px;
    height: auto;
    width: 75px;
    background-color: gray;
    color: white;
    padding: 5px;
    margin: 5px 0px 20px;
    /* text-decoration: none; */
    text-align: center;
    box-shadow: 3px 3px 1px black;
}

@media screen and (max-device-width: 700px) {
    .spotReviewsContainer {
        /* border: 1px solid red; */
        margin: 20px 0;
    }
}
