.manageContainer {
    /* border: 1px solid red; */
    margin: 20px 80px 0px;
    font-weight: 700;
    font-size: 21px;
}

.manageContainer {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 30px 80px;
    /* position: relative;
    left: 10px; */
}

.bottomButtons div {
    border: 2px solid black;
    border-radius: 0px;
    height: auto;
    width: 50%;
    background-color: gray;
    color: white;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 1px black;
}

.deleteButton {
    border: 1px solid red;
}

.singleManageContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    min-width: 215px;
    width: 22%;
    height: auto;
    object-fit: fill;
    /* margin: 5px 20px; */
    text-decoration: none;
    color: black;
}

.ownedSpot {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: fill;
    text-decoration: none;
    color: black;
}

.singleManageContainer .ownedSpot img {
    /* border: 1px solid green; */
    min-width: 215px;
    width: 100%;
    height: 250px;
    min-height: 145px;
    object-fit: fill;
    border-radius: 10px;
}

.singleManageContainer .ownedSpot img:hover {
    box-shadow: 5px 5px 10px gray;
    transition: 0.4s;
}

.tooltip {
    /* border: 1px solid green; */
    visibility: hidden;
    opacity: 0;
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    position: sticky;
    font-size: 12px;
    font-weight: 700;
    bottom: 100%;
    color: #FF5A60;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: opacity 0.4s;
}

.ownedSpot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.ownedSpot span {
    /* border: 1px solid blue; */
    bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    margin-bottom: 3px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    margin: 3px 0px 3px 0px;
}

.bottomButtons {
    /* border: 1px solid blue; */
    display: flex;
    height: auto;
    width: auto;
    gap: 5px;
    position: static;
    margin-bottom: 10px;
}

.bottomButtons button {
    border: 2px solid black;
    border-radius: 0px;
    height: auto;
    background-color: gray;
    color: white;
}


@media screen and (max-width: 650px) {
    .singleManageContainer {
        width: 100%;
    }
}

@media screen and (max-device-width: 700px) {
    .manageContainer {
        /* border: 1px solid red; */
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .singleManageContainer {
        /* border: 1px solid yellow; */
        width: 100%;
        padding-bottom: 20px;
    }

    .singleManageContainer span {
        /* border: 1px solid red; */
        padding: 5px 0px;
        font-size: large;
    }

    .manageContainer .singleManageContainer img {
        /* border: 1px solid red; */
        height: 500px;
    }
}
