.photoContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.previewImg input {
    /* border: 1px solid red; */
    width: 100%;
    margin: 5px 0px;
}

.lowers {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.lowers input {
    /* border: 1px solid blue; */
    width: 47%;
}
