.spotFormContainer {
    /* border: 1px solid red; */
    max-width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
}

h2 {
    /* border: 1px solid blue; */
    margin: 15px 0px 0px;
}

.spotFormContainer input {
    margin: 0px;
}

.t {
    /* border: 1px solid green; */
    margin: 10px 0px;
}

.t span {
    font-size: 18px;
    font-weight: 700;
}

.t p {
    color: black;
    margin: 5px 0px;
    font-size: 13px;
}

.spotLocationContainer span {
    /* border: 1px solid red; */
    font-size: 13px;
    font-weight: 700;
}

.i {
    /* border: 1px solid red; */
    max-width: 97%;
}

.spotLocationContainer ul {
    /* border: 1px solid blue; */
    padding: 0px;
    margin: 5px 0px;
}

.cityContainer {
    /* border: 1px solid red; */
    width: 65%;
}

.cityInput {
    max-width: 95%;
}

.cityStateContainer {
    border-bottom: 2px solid black;
    display: flex;
    padding-bottom: 10px;
}

.stateContainer {
    width: 29.5%;
}

.commaContainer {
    /* border: 1px solid red; */
    display: flex;
    font-size: 20px;
    font-weight: 700;
    align-items: start;
    justify-content: end;
    width: 3%;
    margin-bottom: 0px;
}

.cityStateContainer ul {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.descriptionContainer {
    border-bottom: 2px solid black;
    padding-bottom: 25px;
}

.descriptionInput {
    /* border: 2px solid red; */
    max-width: 97%;
    height: 100px;
    max-height: auto;
    display: block;
    resize: both;
}
