.spotsBrowser {
    /* border: 1px solid black; */
    display: flex;
    margin: 0px 20px 0px 20px;
    justify-content: space-evenly;
}

.spot {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 25%;
    max-height: 250px;
    margin: 15px 5px 5px 5px;
    /* cursor: pointer; */
    /* Remove default NavLink properties for color and underline */
    text-decoration: none;
    color: black;
}

.tooltip {
    /* border: 1px solid green; */
    visibility: hidden;
    opacity: 0;
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    position: sticky;
    font-size: 12px;
    bottom: 100%;
    color: #FF5A60;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: opacity 0.4s;
}

.spot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.spotsBrowser .spot img {
    /* border: 1px solid green; */
    max-width: 100%;
    height: auto;
    /* max-height: 200px; */
    object-fit: fill;
    border-radius: 10px;
}

.spot span {
    /* border: 1px solid blue; */
    /* position: relative; */
    bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    margin-bottom: 3px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    margin: 3px 0px 3px 0px;
}
