.bookingsContainer {
    border: 1px solid black;
    display: flex;
    margin: 0px 80px;
}

.bookingsLeft {
    border: 1px solid blue;
    width: 50%;
}

.bookingsRight {
    border: 1px solid yellow;
    width: 50%;
}

.bookingsRightUpper {
    border: 1px solid red;
    display: flex;
}

.bookingsRightUpperLeft {
    border: 1px solid blue;
    width: 25%;
}

.bookingsImg {
    /* border: 1px solid red; */
    width: 100%;
    height: 75px;
    border-radius: 12px;
}

.bookingsPriceDetails {
    font-size: 22px;
    margin: 0px;
    padding: 24px 0px 8px;
    font-weight: 700;
}

.bookingsRightPrices div {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.bookingsRightPrices div p {
    /* border: 1px solid purple; */
    margin: 16px 0px 0px;
}
