.entireSpot {
    /* border: 1px solid red; */
    margin: 20px 80px;
}

.nameLocation h2 {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}

.nameLocation {
    /* border: 1px solid red; */
    max-width: 80%;
    position: relative;
}

.imagesContainer {
    /* border: 1px solid blue; */
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bigImg {
    /* border: 1px solid red; */
    width: 50%;
    max-height: 500px;
    padding-right: 2px;
    overflow: hidden;
}

.bigImg img {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

.imgBox {
    /* border: 1px solid green; */
    width: 50%;
    max-height: 500px;
}

.imgBox img {
    /* border: 1px solid red; */
    width: 50%;
    height: 50%;
    padding: 2px;
    overflow: hidden;
}

.topBox {
    /* border: 1px solid red; */
    display: flex;
}

.bottomBox {
    /* border: 1px solid red; */
    display: flex;
}

@media screen and (max-width: 900px) {

    .imgBox img {
        /* border: 1px solid red; */
        width: 47%;
        height: 47%;
        object-fit: fill;
        margin: 2px 4px;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 620px) {

    .bigImg {
        /* border: 1px solid red; */
        width: 44%;
        max-height: 500px;
        overflow: hidden;
    }

    .imgBox img {
        /* border: 1px solid red; */
        width: 40%;
        height: 40%;
        object-fit: fill;
        margin: 2px 4px;
        flex-wrap: wrap;
    }

}

.spotDetails {
    border-bottom: 1px solid black;
    /* width: 95%; */
    height: 200px;
    position: relative;
    display: flex;
}

.ownerAndDescription {
    /* border: 1px solid green; */
    width: 80%;
    height: auto;
}

.infoBox {
    border: 2px solid black;
    width: 350px;
    height: 125px;
    margin-top: 20px;
    border-radius: 10px;
}

.topInfo {
    /* border: 1px solid green; */
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

.priceNight {
    /* border: 1px solid black; */
    width: 50%;
    /* height: 90%; */
    display: flex;
    align-items: baseline;
}



.ratingReviews {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
    margin-left: 10px;
    /* max-height: 80%; */
}

.fa-circle {
    font-size: 3px;
    position: relative;
    bottom: 5px;
}

.bottomInfo {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.reserve {
    /* background-color: #FF5A60; */
    border-radius: 10px;
    width: 90%;
    height: 45px;
    margin: 15px;
    font-weight: 700;
    font-size: larger;
    background-color: #FF5A60;
    color: white;
    border: 2px solid #FF5A60;
}

.reserve:hover {
    color: #FF5A60;
    background-color: white;
    transition: 0.3s;
    box-shadow: 5px 5px 10px gray;
}

.bottomInfo div {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: larger;
}

.starReviews {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
    margin: 20px 0;
}

.starReviews h2 {
    margin: 0;
}

.postButton {
    border: 2px solid #FF5A60;
    border-radius: 10px;
    height: auto;
    background-color: #FF5A60;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    width: 150px;
    font-weight: 700;
}

.postButton:hover {
    border: 2px solid #FF5A60;
    background-color: white;
    color: #FF5A60;
    transition: 0.3s;
    box-shadow: 5px 5px 10px gray;

}

@media screen and (max-device-width: 700px) {
    .entireSpot {
        /* border: 1px solid red; */
        margin: 20px 0;
    }

    .carousel .thumbs-wrapper {
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .thumbs {
        margin: 20px 0 0 0;
    }
}
