#root {
    font-family: sans-serif;
    /* width: 1024px; */
    /* max-width: 1440px; */
    /* margin: 5px; */
    width: 95%;
    margin: auto;
}

input { /* modal */
    /* border: 1px solid red; */
    margin-left: 5px;
    padding-left: 5px;
}

.about-links-container {
    border-top: 1px solid #FF5A60;
    bottom: 1%;
    display: flex;
    gap: 50px;
    text-align: start;
    font-weight: 700;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 80px 20px;
}

@media screen and (max-device-width: 700px) {

    body {
        /* border: 1px solid red; */
        margin: 0;
    }

    .about-links-container {
        /* border: 1px solid red; */
        margin: 20px 0;
    }

}
