#root {
    font-family: sans-serif;
    /* width: 1024px; */
    /* max-width: 1440px; */
    /* margin: 5px; */
    width: 95%;
    margin: auto;
}

input { /* modal */
    /* border: 1px solid red; */
    margin-left: 5px;
    padding-left: 5px;
}

@media screen and (max-device-width: 700px) {

    body {
        /* border: 1px solid red; */
        margin: 0;
    }

}
