.hidden {
    display: none;
}

.navigationBar {
    border-bottom: 1px solid #FF5A60;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* border: 3px solid red; */
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}

.leftNav {
    /* border: 1px solid red; */
    display: flex;
    text-decoration: none;
}

.createASpot {
    /* border: 1px solid red; */
    text-decoration: none;
    margin: 5px 20px;
    color: #FF5A60;
}

i {
    height: 12px;
}

.menu {
    flex-direction: column;
    padding-right: 2px;
}

.menu div {
    background-color: black;
    width: 15px;
    height: 1px;
    margin: 3px
}

.profile-dropdown {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    /* right: 13px; */
    right: 1%;
    width: auto;
    top: 45px;
    padding: 0px;
}

.userDropdown {
    border: 1px solid black;
    width: auto;
    /* padding: 0px 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manageSpots {
    border-bottom: 2px solid black;
    width: 85%;
    display: flex;
    justify-content: start;
    text-decoration: none;
    text-align: left;
    padding-bottom: 5px;
}

.dt {
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.userMenu {
    /* border: 1px solid blue; */
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    margin: 0px 10px 5px 10px;
}

.profile-dropdown button {
    border: 2px solid black;
    background-color: gray;
    color: white;
    width: 70%;
    margin: 5px;
    display: flex;
    justify-content: center;

}

.loginSignup {
    cursor: pointer;
    /* border: 1px solid red; */
    width: 100px;
}

.loginSignup div {
    /* border: 1px solid red; */
    font-size: 12px;
    font-weight: 700;
    padding: 3px 10px;
}

.userMenu div {
    /* border: 1px solid red; */
    font-size: 12px;
    font-weight: 700;
    /* position: relative; */
    /* right: 25%; */
    padding-top: 3px;
    padding-bottom: 3px;
}
