.hidden {
    display: none
}

.navigationBar {
    border-bottom: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* border: 3px solid white; */
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    height: 30px;
}

i {
    height: 12px;
}

.menu {
    flex-direction: column;
    padding-right: 2px;
}

.menu div {
    background-color: black;
    width: 15px;
    height: 1px;
    margin: 3px
}
