#modal-content {
    /* border: 2px solid black; */
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-content form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal-content form ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.loginFormModal {
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

h1 {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.loginFormModal input {
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    width: 88%;
    height: 30px;
    margin: 10px 15px;
}

.logInButton {
    border: 2px solid black;
    background-color: #FF5A60;
    color: white;
    width: 90%;
    height: 45px;
    box-shadow: 2px 2px 1px black;
    margin: 15px 15px 25px;
}

.logInButton:disabled {
    border: 2px solid gray;
    background-color: white;
    color: gray;
    box-shadow: 3px 3px 1px gray;
}

form p {
    /* border: 1px solid red; */
    color:#FF5A60;
}

.demoUser {
    border: 2px solid white;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    left: 5%;
    width: 90%;
    border-radius: 0px;
    margin-bottom: 20px;
}

.demoUser:hover {
    border: 2px solid black;
    background-color: #FF5A60;
    color: white;
    width: 90%;
    border-radius: 20px;
    transition: 0.6s;
}
